.git
.gitignore
.venv
.venv/
.venv310
.venv310/
venv
venv/
ENV
ENV/
__pycache__
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.tmp
*.bak
Thumbs.db
.DS_Store

database.db
datasets
datasets/
datasets.zip
Detecciones
Detecciones/
app/Detecciones
app/Detecciones/
tests
tests/
