# Servidor y Backend
fastapi
uvicorn
python-multipart
Jinja2
requests

# Base de Datos y Autenticación
SQLAlchemy
bcrypt

# Procesamiento de Imágenes y OCR
opencv-python
numpy
imutils
paddleocr
paddlepaddle
